box {
    background-color: rgba(0, 0, 50, 0.8);
}

label {
    color: #fff;
    font-size: small;
}

overlay {

    background-color: #fff;
}

buttonbottom {
    border-radius: 100%;
}

box.button>hover {
    margin-top: 10px;

}