/*==============================================
[Blue color stylesheet blue.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Codec - Mobile Web APP Template
================================================*/

/*===============================================*/
/* BLUE COLOR */
/*===============================================*/
a,
blockquote span,
.photo-categories a.active,
.post_author a,
.comm_content p a,
.contactform label .item-title span,
.shop_pagination a,
.shop_pagination span.shop_pagenr,
.shop_item .shop_item_details p strong,
.cartcontainer h2 span,
.item_title span,
input.qntyminus,
input.qntyplus,
input.qntyminusshop,
input.qntyplusshop,
.order_item_title span,
.carttotal_row_last,
.user-nav ul li a,
.logo span,
ul.shop_items li .shop_item_price {
    color: #2ad5dc;
}

blockquote {
    border-left: 3px solid #2ad5dc;
}

a.button_full,
a.button_small,
.call_button a {
    background-color: #2d2e3e;
}

.button,
.shop_pagination a,
input.qntyminus,
input.qntyplus,
input.qntyminusshop,
input.qntyplusshop {
    border: 1px solid #2ad5dc;
    color: #232323;
}

input.qntyminus,
input.qntyplus {
    color: #FFFFFF;
}

.button.active {
    background: #2ad5dc;
    color: #232323;
}

/*Green color of the submit buttons*/
.contactform input.form_submit,
.loginform input.form_submit,
.commentform input.form_submit {
    background-color: #08a95f;
}

/*Yellow color of the cart item bullet*/
.main-nav ul li div.cartitems {
    background-color: #ffcc5f;
}

ul.responsive_table li:first-child,
.size_selectors input[type=radio]:checked+label {
    background-color: #2ad5dc;
    color: #FFFFFF;
}

.color_selectors input[type=radio]:checked+label {
    border: 2px #2ad5dc solid;
}

ul.features_list_detailed li.featured,
.shop_item .shop_item_price,
.size_selectors input[type=radio]:checked+label,
.item_price,
.order_item_price,
a.checkout,
.post_date,
.shop_header_title a,
.shop_item a#addtocart,
ul.shop_items li a#addtocart {
    background-color: #2ad5dc;
}

li.table_row {
    background-color: #f5f5f4;
}

.shop_item h4 {
    border-bottom: 1px solid #2ad5dc;
}

label.label-checkbox input[type="checkbox"]:checked+.item-media i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked+.item-media i.icon-form-checkbox {
    border: medium none;
    background-color: #2ad5dc;
}

label.label-radio input[type="checkbox"]:checked~.item-inner,
label.label-radio input[type="radio"]:checked~.item-inner {
    background: transparent url("data:image/svg+xml;charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 10'><polygon fill='%232ad5dc' points='11.6,0 4.4,7.2 1.4,4.2 0,5.6 4.4,10 4.4,10 4.4,10 13,1.4 '/></svg>") no-repeat scroll calc(100% - 15px) center / 13px 10px;
}

/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/
.homepage {
    background: url(../images/bg.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbarpages {
    background: #2d2e3e;
}

/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/
.main-nav ul li {
    background: #2d2e3e;
}

.main-nav ul li a {
    color: #2ad5dc;
}

/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/
.popup,
.page_content_menu {
    background: #233a5a;
}

.popup-login,
.popup-signup,
.popup-forgot {
    background-color: #263239;
}

/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/
.panel-left {
    background: #1b1b25;
}

.panel-right {
    background: #2d2e3e;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a {
    background-color: #2ad5dc;
}